* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Forum", cursive;
  color: white;
  text-decoration: none;
  list-style: none;
}

header nav {
  background-color: black;
  height: 80px;
  width: 100%;
}
header nav .enlace {
  position: absolute;
  padding: 20px 50px;
}
header nav .logo {
  height: 50px;
}
header nav ul {
  float: right;
  margin-right: 20px;
}
header nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 15px 5px;
}
header nav ul li a {
  color: white;
  font-size: 1.2rem;
  padding: 7px 13px;
  border-radius: 3px;
}
header nav ul li a.active, header nav ul li a:hover {
  background-color: gray;
  transition: 0.5s;
}
header nav .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
header nav #check {
  display: none;
}

@media (max-width: 786px) {
  nav ul li a {
    font-size: 10px;
  }
  nav .enlace {
    padding-left: 20px;
  }
}
@media (max-width: 600px) {
  nav {
    position: fixed;
  }
  nav label .checkbtn {
    display: block;
  }
  nav label i {
    font-size: 20px;
    padding-top: 40px;
  }
  nav ul {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    position: absolute;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 5px;
  }
  nav ul li a:hover {
    font-size: 15px;
    background: none;
    color: rgb(230, 11, 11);
  }
  nav ul li a:hover .active {
    background: none;
    color: rgb(230, 11, 11);
  }
  nav input #check:checked ~ ul {
    left: 0;
  }
}
/*comienzo cuerpo del texto del sitio*/
main {
  background-color: black;
  width: 100%;
  height: 100%;
}
main .primer-foto {
  background: url(../assets/img/pagina-principal.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  height: 35rem;
  width: 100%;
}
main .primer-foto h2 {
  font-size: 2rem;
  line-height: 2rem;
  display: flex;
  text-align: left;
  padding: 50px 50px 0px 50px;
}
main .primer-foto p {
  font-size: 1.3rem;
  flex-direction: column;
  line-height: 2rem;
  display: flex;
  text-align: left;
  padding: 10px 50px 0px 50px;
}
main .primer-foto a {
  font: 1.3rem;
  display: flex;
  text-align: left;
  padding: 10px 0 0 50px;
}
main .segunda-foto {
  background: url(../assets/img/comida.jpg);
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}
main .segunda-foto p {
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 25px;
  padding: 170px;
  display: flex;
  width: 100%;
}

@media (max-width: 1024px) {
  .primer.foto h2 {
    width: 100%;
    font-size: 20px;
    padding: 20px 100px 15px 30px;
    display: flex;
  }
  .primer.foto p {
    width: 100%;
    font-size: 13px;
    padding: 20px 80px 15px 48px;
    display: flex;
  }
  .primer.foto a {
    font-size: 13px;
    padding: 5px 0px 15px 48px;
  }
  .segunda-foto p {
    font-size: 20px;
    padding: 140px;
  }
}
@media (max-width: 768px) {
  .primer-foto h2 {
    font-size: 15px;
    display: flex;
    padding: 20px 80px 0px 25px;
  }
  .primer-foto p {
    font-size: 9px;
    padding: 10px 80px 0px 25px;
  }
  .primer-foto a {
    font-size: 9px;
    padding: 0px 0px 0 25px;
  }
  .segunda-foto p {
    font-size: 12px;
    padding: 130px;
  }
}
@media (max-width: 600px) {
  .primer-foto h2 {
    font-size: 15px;
  }
  .primer-foto p {
    padding: 60px 60px 10px 60px;
    font-size: 10px;
    line-height: 20px;
    width: 100%;
  }
  .primer-foto a {
    padding: 0px 60px 60px 60px;
  }
  .segunda-foto p {
    padding: 70px;
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  .segunda-foto p {
    font-size: 9px;
    padding: 70px;
  }
}
@media (max-width: 320px) {
  .primer-foto {
    font-size: 0.2rem;
  }
  .segunda-foto p {
    font-size: 7px;
    padding: 70px;
    width: 100%;
  }
}
/*cuerpo de pag de contactos*/
main section .texto-contactos {
  padding: 50px;
}
main section .texto-contactos h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
}

@media (max-width: 768px) {
  .texto-contactos h2 {
    font-size: 30px;
  }
}
/*cuerpo pag de envios*/
.contenedor-envios {
  background-image: url(../assets/img/envios.jpg);
  background-size: cover;
  background-position: center center;
  padding: 200px 100px;
  width: 100%;
  height: 100%;
}
.contenedor-envios .fondo {
  background-color: rgba(0, 0, 0, 0.342);
  padding: 80px;
}
.contenedor-envios .fondo .texto-envios {
  text-align: center;
}
.contenedor-envios .fondo .texto-envios p {
  text-align: center;
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  main {
    width: 100%;
    height: 100%;
  }
  main .contenedor-envios div .texto-envios {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .contenedor-envios {
    background-position: center center;
  }
  .contenedor-envios div .texto-envios h2 {
    text-align: center;
  }
  .contenedor-envios div .texto-envios p {
    font-size: 15px;
  }
}
@media (max-width: 495px) {
  .contenedor-envios {
    padding: 130px 50px;
  }
  .contenedor-envios div .texto-envios p {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  main {
    width: 100%;
  }
  main div .texto-envios h2 {
    font-size: 20px;
  }
  main div .texto-envios p {
    font-size: 9px;
    padding: none;
  }
}
/*fin cuerpo del sitio*/
/*cuerpo pag de productos*/
main div h2.titulo-productos {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 30px;
}
main div section.grids {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 500px;
  row-gap: 50px;
  column-gap: 10px;
  background-color: black;
  padding: 20px 40px 0px 40px;
}
main div section.grids .imagen-uno {
  background-image: url(../assets/img/productos1.jpg);
  background-size: cover;
}
main div section.grids .imagen-dos {
  background-image: url(../assets/img/productos2.jpg);
  background-size: cover;
}
main div section.grids .imagen-tres {
  background-image: url(../assets/img/productos3.jpg);
  background-size: cover;
}
main div section.grids .imagen-cuatro {
  background-image: url(../assets/img/productos4.jpg);
  background-size: cover;
}
main div section.grids .imagen-cinco {
  background-image: url(../assets/img/frutas.jpg);
  background-size: cover;
}
main div section.grids .imagen-seis {
  background-image: url(../assets/img/producto6.png);
  background-size: cover;
}
main div section.grids .boton {
  display: flex;
  justify-content: center;
  background-color: rgba(168, 167, 167, 0.59);
  border-radius: 20px;
  padding: 10px;
}

/*cuerpo pag de quienes somos*/
main section div.textos-quienes h3 {
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 30px;
  padding: 10px;
  display: flex;
  width: 100%;
}
main section div.textos-quienes p {
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 25px;
  padding: 10px 70px 70px 70px;
  display: flex;
  width: 100%;
}

/*comienzo pie de pagina*/
footer {
  background-color: black;
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}
footer .pie {
  display: flex;
}

@media (max-width: 320) {
  footer {
    width: 100%;
    font-size: 7px;
  }
}
@media (max-width: 600px) {
  footer {
    width: 100%;
  }
  footer div {
    display: flex;
  }
  footer div p {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  footer div {
    display: flex;
  }
  footer div p {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
