
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Forum', cursive;
    color: white;
    text-decoration: none;
    list-style: none;
}

/* comienzo encabezado*/

nav{
    background-color: black;
    height: 80px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 20px 50px;

}
.logo{
    height: 50px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 15px 5px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
}

li a.active, li a:hover{
    background-color: gray;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 786px){
   .enlace{
    padding-left: 20px;
   } 
   nav ul li a{
    font-size: 10px;
   }
}

@media (max-width: 600px){
    .checkbtn{
        display: block;
    }
    
    ul{
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgb(0, 0, 0);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        position: absolute;
    }
    nav{
        position: fixed;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 5px;
    }
    nav ul li a{
        font-size: 15px;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(230, 11, 11);
    }
    #check:checked ~ ul{
        left:0;

    }
    i{
        font-size: 20px;
        padding-top: 40px;
    }
}
/*fin de encabezado*/
/*comienzo cuerpo del texto del sitio*/
main{
    background-color: black;
    width: 100%;
}
.primer-foto{
    background: url(../assets/img/pagina-principal.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px)
}

.segunda-foto{
    background: url(../assets/img/comida.jpg);
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

.primer-foto p{
    font-size: 1.3rem;
    flex-direction: column;
    line-height: 2rem;
    
    text-align: left;
    padding: 50px 50px 0px 50px;
}

.primer-foto a{
    font: 1.3rem;
    display: flex;
    text-align: left;
    padding: 10px 0 0 50px;
}

.segunda-foto p{
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    font-size: 25px;
    padding: 170px;
    display: flex;
}

@media (max-width:1024px){
    .primer-foto p{
        font-size: 13px;
        padding: 20px 100px 15px 30px;
    }
    .primer-foto a{
        font-size: 13px;
        padding: 5px 0px 15px 30px;
    }
    .segunda-foto p{
        font-size: 13px;
        padding: 150px;
    }
}

@media (max-width:768px){
    .primer-foto p{
        font-size: 9px;
        padding: 20px 80px 0px 25px;
    }
    .primer-foto a{
        font-size: 9px;
        padding: 0px 0px 0 25px
    }
    .segunda-foto p{
        font-size: 10px;
        padding: 150px
    }
}

@media (max-width:600px){
    .primer-foto {
        font-size: 9px;
        line-height: 20px;
    }
    .segunda-foto p{
        padding: 90px;
        font-size: 9px;
        
    }
}


*/
/*cuerpo pag de productos*/
.texto-productos p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
    font-size: 25px;
    line-height: 40px;
}

.titulo-productos{
    padding: 30px 0px 30px 0px;
    text-align: center;
    font-size: 30px;
}

.grids{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    row-gap: 50px;
    column-gap: 10px;
    background-color: black;
    padding: 20px 40px 0px 40px;
}

.imagen-uno{
    background-image: url(../assets/img/productos1.jpg);
    background-size: cover;
}

.imagen-dos{
    background-image: url(../assets/img/productos2.jpg);
    background-size: cover;
}

.imagen-tres{
    background-image: url(../assets/img/productos3.jpg);
    background-size: cover;
}

.imagen-cuatro{
    background-image: url(../assets/img/productos4.jpg);
    background-size: cover;
}

.imagen-cinco{
    background-image: url(../assets/img/frutas.jpg);
    background-size: cover;
}

.imagen-seis{
    background-image: url(../assets/img/producto6.png);
    background-size: cover;
}


.boton{
    background-color: rgba(168, 167, 167, 0.59);
    border-radius: 20px;
    padding: 10px;
}

/*cuerpo pag de quienes somos*/
.textos-quienes{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.textos-quienes p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 200px 10px 200px;
    font-size: 25px;
    line-height: 40px;
}      

.fotos-quienes img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

/*cuerpo de pag de contactos*/
.formularios{
    padding-left: 40px;
    display: block;
    padding-bottom: 100px;
    font-size: 25px;
}

.formularios input{
    color: black;
    font-size: 20px;
    padding: 0px 100px 0px 100px;
}

.texto-contactos{
    padding: 50px;
}


h2{
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}

/*cuerpo pag de envios*/
.texto-envios {
    background-image: url(../assets/img/envios.jpg);
    background-size: cover;
    width: 1350px;
    height: 1000px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 200px 100px 200px 100px;
    font-size: 25px;
    line-height: 40px;
}

.fotos{
    width: 100%;
    height: 800px;
    background-size: cover;
    padding: 10px 40px;
}

.contenedor-envios{
    background-color: rgba(0, 0, 0, 0.353);
}

/*fin cuerpo del sitio*/
/*comienzo pie de pagina*/

footer{
    background-color: black;
    display: flex;
    padding: 20px;
    width: 100%;
    text-align: center;
}    

.pie {
    display: flex;
}      

@media (max-width:600px){
    footer{
        width: 100%;
    }
    div{
        display: flex;
    }
    div p{
        font-size: 10px;
    }
}

@media (max-width:768px){
    div{
        display: flex;
    }
    
    footer div p{
        font-size: 0.8rem;
    }
}