
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Forum', cursive;
    color: white;
    text-decoration: none;
}

header{
    background-color: black;
    width: 100%;
    flex-direction: column;
}

.titulo{
    padding-left: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.logo{
    font-size: 40px;
    position: relative;
    padding-left: 10px;
    display: flex;
}
        

main{
    background-color: black;
    width: 100%;
}

.parrafo-inicio{
    background-image: url(../assets/img/pagina-principal.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: right;
    display: flex;
    padding: 300px 100px 200px 300px;
    line-height: 40px;
    flex-direction: column;
}

.parrafo-inicio-dos{ 
    background-image: url(../assets/img/comida.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    font-size: 25px;
    line-height: 40px;
}


.parrafo-inicio p{
    font-size: 25px;
}

footer{
    background-color: black;
    display: flex;
    padding: 20px;
    width: 100%;
}    

.pie {
    display: flex;
}      

.barra-navegacion{
    text-align: right;
}

nav{
    margin: auto;
    background-color: black;
    font-size: 20px;
    margin-top: 10px;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: right;
}

.menu-horizontal li a{
    display: block;
    padding: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
}

.menu-horizontal li:hover{
    background-color: rgba(255, 255, 255, 0.49);
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 300px;
    background-color: rgb(122, 129, 125)
}

.menu-horizontal li:hover .menu-vertical{
    display: block;
}

.menu-vertical li:hover{
    background-color: rgba(0, 0, 0, 0.597);
}

.menu-vertical li a{
    display: flex;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;

}

nav ul li{
    display: block;
}

nav ul li a{
    padding: 7px 13px;
}

.vegetales-dos{
    width: 100%;
}      

.textos-productos{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 100px 0px ;
    font-size: 25px;
    line-height: 40px;
}

.titulo-productos{
    padding: 30px 0px 30px 0px;
    text-align: center;
    font-size: 30px;
}

.imagen-boton{
    background-image: url(../assets/img/productos1.jpg);
    background-size: cover;
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
    
}

.boton-compra{
    background-color: rgba(168, 167, 167, 0.59);
    padding: 10px;
    border-radius: 30px;
}

.imagen-boton-2{
    background-image: url(../assets/img/productos2.jpg);
    background-size: cover;
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
}


.imagen-boton-3{
    background-image: url(../assets/img/productos3.jpg);
    background-size: cover;
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
}

.imagen-boton-4{
    background-image: url(../assets/img/productos4.jpg);
    background-size: cover;
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
}

.imagen-boton-5{
    background-image: url(../assets/img/producto5.png);
    background-size: cover;
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
}


.imagen-boton-6{
    background-image: url(../assets/img/producto6.png);
    background-size: cover;
    width: 400px;
    height: 500px;
    background-repeat: no-repeat;
}


.titulo-productos{
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    font-size:35px;
}

.productos img{
    padding: 10px;
    margin: 10px;
}

.textos-quienes{
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
}

.textos-quienes p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 200px 10px 200px;
    font-size: 25px;
    line-height: 40px;
}      

.fotos-quienes img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.formularios{
    padding-left: 40px;
    display: block;
    padding-bottom: 100px;
    font-size: 25px;
}

.formularios input{
    color: black;
    font-size: 20px;
    padding: 0px 100px 0px 100px;
}

.texto-contactos{
    padding: 50px;
}

.contacto-aparte{
    background-color: rgb(172, 171, 171);
    padding: 40px;
    width: 200px;
    height: 200px;
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    position: relative;
    left: 1100px;
    bottom: 50px;
}

.contacto-aparte ul li a{
    padding: 10px;
    font-size: 40px;
}


h2{
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}

.texto-envios {
    background-image: url(../assets/img/envios.jpg);
    background-size: cover;
    width: 1350px;
    height: 1000px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 200px 100px 200px 100px;
    font-size: 25px;
    line-height: 40px;
}

@media (min-width:768px){
    header{
        width: 100%;
    }
    
    main{
        width: 100%;
    }
    
    footer{
        width: 100%;
    }
}

.fotos{
    width: 100%;
    height: 800px;
    background-size: cover;
    padding: 10px 40px;
}

.espacio{
    margin-top: 16px;
}