* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Forum", cursive;
  color: white;
  text-decoration: none;
  list-style: none;
}

header nav {
  z-index: 1;
  background-color: black;
  height: 90px;
  width: 100%;
}
header nav .enlace {
  position: absolute;
  padding: 20px 50px;
}
header nav .logo {
  height: 50px;
}
header nav ul {
  float: right;
  top: 0px;
  left: 800px;
  display: flex;
}
header nav ul li {
  display: inline-block;
  line-height: 20px;
  margin: 25px 5px;
}
header nav ul li a {
  color: white;
  font-size: 1.1rem;
  border-radius: 3px;
  position: relative;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.5s;
}
header nav ul li a.active, header nav ul li a:hover {
  background-color: gray;
  transition: 0.5s;
}
header nav .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
header nav #check {
  display: none;
}

/*comienzo cuerpo del texto del sitio*/
main {
  background-color: black;
  width: 100%;
  height: 100%;
}
main .contenedor-index {
  background: url(../assets/img/imagenes.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 150px 100px;
  grid-template-areas: "item1" "item2" "item3";
}
main .contenedor-index h2 {
  grid-area: item1;
  font-size: 2.8rem;
  line-height: 2rem;
  display: flex;
  padding: 150px 50px 10px 50px;
  align-self: center;
  justify-self: left;
  text-decoration: none;
}
main .contenedor-index h3 {
  font-size: 2rem;
  grid-area: item2;
  display: flex;
  justify-self: left;
  align-self: center;
  padding: 0px 50px;
}
main .contenedor-index p {
  grid-area: item3;
  font-size: 1.2rem;
  display: flex;
  justify-self: left;
  align-self: center;
  padding: 0px 50px;
}
main section.carrusel-index {
  background-size: cover;
  margin: 1px;
}
main section.segunda-foto {
  background: url(../assets/img/comida.jpg);
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
}
main section.segunda-foto p {
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 25px;
  padding: 170px;
  display: flex;
  width: 100%;
}

/*cuerpo de pag de contactos*/
main section .texto-contactos {
  padding: 50px;
}
main section .texto-contactos h2 {
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
  text-decoration: none;
}

/*cuerpo pag de envios*/
.contenedor-envios {
  background-image: url(../assets/img/envios.jpg);
  background-size: cover;
  background-position: center center;
  padding: 200px 100px;
  width: 100%;
  height: 100%;
}
.contenedor-envios .fondo {
  background-color: rgba(0, 0, 0, 0.342);
  padding: 80px;
}
.contenedor-envios .fondo .titulo-envios {
  text-align: center;
}
.contenedor-envios .fondo .titulo-envios h2 {
  text-decoration: none;
}
.contenedor-envios .fondo p {
  text-align: center;
  font-size: 1.5rem;
}

/*fin cuerpo del sitio*/
main {
  width: 100%;
}
main div.pag-productos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/productos1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}
main div.pag-productos h2 {
  padding-left: 200px;
  font-size: 2.5rem;
  font-weight: 2rem;
  text-shadow: 2px 2px 5px #58544d;
  text-decoration: none;
}
main div.pag-productos a {
  color: white;
  font-size: 1.1rem;
  border-radius: 3px;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.5s;
  z-index: 1;
}
main div.pag-productos p {
  justify-self: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 2rem;
  text-shadow: 2px 2px 5px #58544d;
}
main div.semillas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/semillas2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}
main h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 2rem;
  text-shadow: 2px 2px 5px #58544d;
  text-decoration: underline;
}
main a {
  color: white;
  font-size: 1.1rem;
  border-radius: 3px;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.5s;
  z-index: 1;
}
main a.active, main a:hover {
  background-color: rgba(128, 128, 128, 0.548);
  transition: 0.5s;
}
main div.frutos-secos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/frutos-secos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}
main div.frutos-secos h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 2rem;
  text-shadow: 2px 2px 5px #58544d;
  text-decoration: underline;
}
main div.frutos-secos a {
  color: white;
  font-size: 1.1rem;
  border-radius: 3px;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.5s;
  z-index: 1;
}
main div.frutos-secos a.active, main div.frutos-secos a:hover {
  background-color: rgba(128, 128, 128, 0.548);
  transition: 0.5s;
}
main div.condimentos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/condimentos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}
main div.condimentos h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 2rem;
  text-shadow: 2px 2px 5px #58544d;
  text-decoration: underline;
}
main div.condimentos a {
  color: white;
  font-size: 1.1rem;
  border-radius: 3px;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.5s;
  z-index: 1;
}
main div.condimentos a.active, main div.condimentos a:hover {
  background-color: rgba(128, 128, 128, 0.548);
  transition: 0.5s;
}
main div.suplementos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/suplementos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}
main div.suplementos h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 2rem;
  text-shadow: 2px 2px 5px #58544d;
  text-decoration: underline;
}
main div.suplementos a {
  color: white;
  font-size: 1.1rem;
  border-radius: 3px;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.5s;
  z-index: 1;
}
main div.suplementos a.active, main div.suplementos a:hover {
  background-color: rgba(128, 128, 128, 0.548);
  transition: 0.5s;
}
main div.especias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/especiass.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}
main div.especias h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 2rem;
  text-shadow: 2px 2px 5px #58544d;
  text-decoration: underline;
}
main div.especias a {
  color: white;
  font-size: 1.1rem;
  border-radius: 3px;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.5s;
  z-index: 1;
}
main div.especias a.active, main div.especias a:hover {
  background-color: rgba(128, 128, 128, 0.548);
  transition: 0.5s;
}
main div.cereales {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/cereales.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}
main div.cereales h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 2rem;
  text-shadow: 2px 2px 5px #58544d;
  text-decoration: underline;
}
main div.cereales a {
  color: white;
  font-size: 1.1rem;
  border-radius: 3px;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  transition: 0.5s;
  z-index: 1;
}
main div.cereales a.active, main div.cereales a:hover {
  background-color: rgba(128, 128, 128, 0.548);
  transition: 0.5s;
}

/*cuerpo pag de quienes somos*/
main section div.textos-quienes h3 {
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 30px;
  padding: 30px;
  display: flex;
  width: 100%;
}
main section div.textos-quienes p {
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 25px;
  padding: 10px 70px 70px 70px;
  display: flex;
  width: 100%;
}

/*comienzo pie de pagina*/
footer {
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0px;
  display: flex;
  width: 100%;
  background-color: black;
}
footer ul {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 20px;
}
footer ul li {
  display: inline-block;
  line-height: 80px;
  margin: 15px 5px;
}
footer ul li a {
  color: white;
  font-size: 1.1rem;
  padding: 7px 13px;
  border-radius: 3px;
}
footer p {
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0px;
  display: flex;
  width: 100%;
}

/*media query index*/
@media (max-width: 1024px) {
  main {
    width: 100%;
  }
  main section.contenedor-index h2 {
    width: 100%;
    font-size: 35px;
    display: flex;
    padding: 50px 0px 0px 50px;
  }
  main section.contenedor-index h3 {
    font-size: 30px;
    padding: 0px 0px 0px 50px;
  }
  main section.contenedor-index p {
    width: 100%;
    font-size: 20px;
    padding: 0px 0px 0px 50px;
    display: flex;
  }
  main section.segunda-foto p {
    font-size: 20px;
    padding: 140px;
  }
}
/*media query main envios*/
@media (max-width: 1024px) {
  main {
    width: 100%;
    height: 100%;
  }
  main .contenedor-envios div .texto-envios {
    font-size: 20px;
  }
}
/*media query header*/
@media (max-width: 786px) {
  header nav ul li a {
    font-size: 10px;
  }
  header nav .enlace {
    padding-left: 20px;
  }
}
/*media query main index*/
@media (max-width: 768px) {
  main section.contendor-index div h2 {
    font-size: 10px;
    display: flex;
    padding: 0px 80px 0px 25px;
  }
  main section.contendor-index div h3 {
    font-size: 10px;
  }
  main section.contendor-index div p {
    font-size: 12px;
    padding: 10px 80px 0px 25px;
  }
  main section.segunda-foto p {
    display: flex;
    font-size: 15px;
    padding: 130px;
  }
}
/*main envios*/
@media (max-width: 768px) {
  .contenedor-envios {
    background-position: center center;
  }
  .contenedor-envios div .texto-envios h2 {
    text-align: center;
  }
  .contenedor-envios div .texto-envios p {
    font-size: 15px;
  }
}
/*main contactos*/
@media (max-width: 768px) {
  .texto-contactos h2 {
    font-size: 30px;
  }
}
/*media footer*/
@media (max-width: 768px) {
  footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    font-size: 1rem;
    padding: 0px;
    display: flex;
    width: 100%;
    background-color: black;
  }
  footer ul {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
  }
  footer ul li {
    display: inline-block;
    line-height: 80px;
    margin: 15px 5px;
  }
  footer ul li a {
    color: white;
    font-size: 1.1rem;
    padding: 7px 13px;
    border-radius: 3px;
  }
}
/*media query header*/
@media (max-width: 600px) {
  header nav {
    position: fixed;
  }
  header nav ul {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    top: 70px;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
    position: absolute;
  }
  header nav ul li {
    display: flex;
    line-height: 5px;
  }
  header nav ul li a {
    font-size: 15px;
    text-decoration: underline;
  }
  header nav ul li a:hover, header nav ul li a.active {
    background: none;
    color: rgb(230, 11, 11);
  }
  header nav input#check:checked ~ ul {
    left: 0;
  }
  header nav label.checkbtn {
    display: block;
  }
  header nav label i {
    font-size: 20px;
    padding-top: 40px;
  }
}
/*media query main index*/
@media (max-width: 600px) {
  main section.contenedor-index h2 {
    font-size: 30px;
    padding: 100px 0px 0px 30px;
  }
  main section.contenedor-index h3 {
    font-size: 25px;
    padding: 0px 0px 0px 30px;
  }
  main section.contenedor-index p {
    padding: 0px 0px 0px 30px;
    font-size: 20px;
    line-height: 20px;
    width: 100%;
  }
  main section.segunda-foto p {
    padding: 90px;
    font-size: 13px;
  }
}
/*main quienes somos*/
@media (max-width: 600px) {
  main section div.texto-quienes h3 {
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    font-size: 1.3rem;
    padding: 10px;
    display: flex;
    width: 100%;
  }
  main section div.texto-quienes p {
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    font-size: 1rem;
    padding: 10px;
    display: flex;
    width: 100%;
  }
}
@media (max-width: 600px) {
  main div.pag-productos h2 {
    font-size: 2rem;
    padding-left: 130px;
  }
  main div.pag-productos p {
    font-size: 1.4rem;
  }
  main div.semillas h2 {
    font-size: 2rem;
  }
  main div.frutos-secos h2 {
    font-size: 2rem;
  }
  main div.condimentos h2 {
    font-size: 2rem;
  }
  main div.suplementos h2 {
    font-size: 2rem;
  }
  main div.especias h2 {
    font-size: 2rem;
  }
  main div.cereales h2 {
    font-size: 2rem;
  }
}
/*media query 375-320px main index*/
@media (max-width: 425px) {
  main {
    width: 100%;
  }
  main section.contenedor-index div h2 {
    font-size: 30px;
    padding: 110px 0px 0px 30px;
  }
  main section.contenedor-index div h3 {
    font-size: 23px;
    padding: 0px 0px 0px 30px;
  }
  main section.contenedor-index div p {
    font-size: 16px;
    padding: 0px 0px 0px 30px;
  }
  main section.segunda-foto p {
    font-size: 12px;
    padding: 80px;
  }
}
@media (max-width: 320px) {
  main section.contenedor-index div h2 {
    font-size: 25px;
  }
  main section.contenedor-index div h3 {
    font-size: 20px;
  }
  main section.contenedor-index div p {
    font-size: 14px;
  }
  main section.segunda-foto p {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  main section.contenedor-index div h2 {
    font-size: 25px;
  }
  main section.contenedor-index div h3 {
    font-size: 20px;
  }
  main section.contenedor-index div p {
    font-size: 14px;
  }
  main section.segunda-foto p {
    font-size: 9px;
    padding: 80px;
    width: 100%;
  }
}
/*main envios*/
@media (max-width: 495px) {
  .contenedor-envios {
    padding: 130px 50px;
  }
  .contenedor-envios div.texto-envios p {
    font-size: 15px;
  }
}
@media (max-width: 320px) {
  .contenedor-envios .fondo .titulo-envios {
    font-size: 12px;
  }
  .contenedor-envios .fondo .texto-envios {
    font-size: 10px;
  }
}
/*main contactos*/
@media (max-width: 375px) {
  main section div.texto-contactos h2 {
    font-size: 25px;
    padding-top: 70px;
  }
}
@media (max-width: 320px) {
  main section div.texto-contactos h2 {
    font-size: 25px;
  }
}
/*main quienes somos*/
@media (max-width: 320px) {
  main section div.textos-quienes h3 {
    font-size: 10px;
  }
  main section div.textos-quienes p {
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    font-size: 0.7rem;
    padding: 10px;
    display: flex;
    width: 100%;
  }
}
@media (max-width: 375px) {
  main section div.textos-quienes h3 {
    font-size: 10px;
  }
  main section div.textos-quienes p {
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    font-size: 0.9rem;
    padding: 10px;
    display: flex;
    width: 100%;
  }
}
/*media footer*/
@media (max-width: 320px) {
  footer ul li a {
    font-size: 1.1rem;
    padding: none;
  }
  footer p {
    font-size: 0.9rem;
  }
}
@media (max-width: 437px) {
  main div.pag-productos h2 {
    padding-left: 100px;
  }
  main div.pag-productos p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
