/*media query index*/
@media (max-width:1024px){
    main{
        width: $width;
        section.contenedor-index{
        h2{
            width: $width;
            font-size: 35px;
            display: $flex;
            padding: 50px 0px 0px 50px;
        }
        h3{
            font-size: 30px;
            padding: 0px 0px 0px 50px;
        }
        p{
            width: $width;
            font-size: 20px;
            padding: 0px 0px 0px 50px;
            display: $flex;
        }
        }
        section.segunda-foto{
            p{
                font-size: 20px;
                padding: 140px;
            }
        }
    }
}

/*media query main envios*/
@media (max-width:1024px){
    main{
        width: $width;
        height: 100%;
        .contenedor-envios{
            div{
                .texto-envios{
                    font-size: 20px;
                }
            }
        }
    }
}