/*media query 375-320px main index*/
@media (max-width:425px){
    main{
        width: $width;
        section.contenedor-index{
            div{
                h2{
                    font-size: 30px;
                    padding: 100px 0px 0px 30px;
                }
                h3{
                    font-size: 23px;
                    padding: 5px 0px 0px 30px;
                }
                p{
                    font-size: 16px;
                    padding: 0px 0px 0px 30px;
                }
            }
        }
        section.segunda-foto{
            p{
                font-size: 12px;
                padding: 80px;
            }
        }
    }
}

@media (max-width:320px){
    main{
        section.contenedor-index{
            div{
                h2{
                    font-size: 25px;
                }
                h3{
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        section.segunda-foto{
            p{
                font-size: 14px;
            }
        }
    }
}

@media (max-width:375px){
    main{
        section.contenedor-index{
            div{
                h2{
                    font-size: 25px;
                }
                h3{
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        section.segunda-foto{
            p{
                font-size: 9px;
                padding: 80px;
                width: $width;
            }
        }
    }
}

/*main envios*/


@media(max-width:495px){
    .contenedor-envios{
        padding: 130px 50px;
        div.texto-envios{
                p{
                    font-size: 15px;
                }
        }
    }
}

@media (max-width:320px){
    .contenedor-envios{
        .fondo{
            .titulo-envios{
                font-size: 12px;
            }
            .texto-envios{
                font-size: 10px;
            }
        }
    }
}



/*main contactos*/
@media (max-width:375px){
    main{
        section{
            div.texto-contactos{
                h2{
                    font-size: 25px;
                }
            }
        }
    }
}

@media (max-width:320px){
    main{
        section{
            div.texto-contactos{
                h2{
                    font-size: 25px;
                }
            }
        }
    }
}

/*main quienes somos*/
@media (max-width:320px){
    main{
        section{
            div.textos-quienes{
                h3{
                    font-size: 10px;
                }
                p{
                    @include centrado(0.7rem, 10px)
                }
            }
        }
    }
}

@media (max-width:375px){
    main{
        section{
            div.textos-quienes{
                h3{
                    font-size: 10px;
                }
                p{
                    @include centrado(0.9rem, 10px)
                }
            }
        }
    }
}