/*media query header*/
@media (max-width: 600px){
    nav{
        position: fixed;
        label{
            .checkbtn{
                display: block;
            }
            i{
                font-size: 20px;
                padding-top: 40px;
            }
        }
        ul{
            display: block;
            width: $width;
            height: 100vh;
            background-color: rgb(0, 0, 0);
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            position: absolute;
            li{
                display: block;
                margin: 50px 0;
                line-height: 5px;
                a:hover{
                    font-size: 15px;
                    background: none;
                    color: rgb(230, 11, 11);
                    .active{
                        background: none;
                        color: rgb(230, 11, 11);
                    }
                }

            }
        }
        input{
            #check:checked ~ ul{
                left:0;
            }
        }
    }
    
}

/*media query main index*/
@media (max-width:600px){
    main{
        section.primer-foto{
            h2{
                font-size: 15px;
                padding: 20px 80px 0px 25px;

            }
            p{
                padding: 60px 60px 10px 60px;
                font-size: 10px;
                line-height: 20px;
                width: 100%;
            }
            a{
                padding: 0px 60px 60px 60px;
            }
        }
        .segunda-foto{
            p{
                padding: 80px;
                font-size: 10px;
            }
        }
    }
}