/*media query header*/
@media (max-width: 600px){
    header{
        nav{
            position: fixed;
            ul{
                display: block;
                width: $width;
                height: 100vh;
                background-color: rgb(0, 0, 0);
                top: 70px;
                left: -100%;
                text-align: left;
                transition: all .5s;
                position: absolute;
                li{
                    display: flex;
                    line-height: 5px;
                    a{
                        font-size: 15px;
                        text-decoration: underline;
                    }
                    a:hover, a.active{
                        background: none;
                        color: rgb(230, 11, 11);
                    }
                }
            }
            input#check:checked ~ ul{
                left:0;
            }
            label.checkbtn{
                display: block;
            }
            label i{
                font-size: 20px;
                padding-top: 40px;
            }
        }
    }
}

/*media query main index*/
@media (max-width:600px){
    main{
        section.contenedor-index{
            h2{
                font-size: 30px;
                padding: 100px 0px 0px 30px;

            }
            h3{
                font-size: 25px;
                padding: 0px 0px 0px 30px;
            }
            p{
                padding: 0px 0px 0px 30px;
                font-size: 20px;
                line-height: 20px;
                width: 100%;
            }
    
        }
        section.segunda-foto{
            p{
                padding: 90px;
                font-size: 13px;
            }
        }
    }
}

/*main quienes somos*/
@media (max-width:600px){
    main{
        section{
            div.texto-quienes{
                h3{
                    @include centrado(1.3rem, 10px);
                }
                p{
                    @include centrado(1rem, 10px);
                }
            }
        }
    }
}

@media (max-width:600px){
    main{
        div.pag-productos{
            h2{
                font-size: 2rem;
                padding-left: 130px;
            }
            p{
                font-size: 1.4rem;
            }
        }
        div.semillas{
            h2{
                font-size: 2rem;
            }
        }
        div.frutos-secos{
            h2{
                font-size: 2rem;
            }
        }
        div.condimentos{
            h2{
                font-size: 2rem;
            }
        }
        div.suplementos{
            h2{
                font-size: 2rem;
            }
        }
        div.especias{
            h2{
                font-size: 2rem;
            }
        }
        div.cereales{
            h2{
                font-size: 2rem;
            }
        }
    }
}