@mixin centrado($font, $padding){
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    font-size: $font;
    padding: $padding;
    display: flex;
    width: 100%;
}
@mixin productos{
    color: white;
            font-size: 1.1rem;
            border-radius: 3px;
            position: relative;
            display: block;
            padding: 10px 10px;
            text-decoration: none;
            transition: .5s;
            z-index: 1;
}