/*comienzo pie de pagina*/

footer{
    background-color: $fondo;
    display: $flex;
    padding: 20px;
    width: $width;
    height: 100%;
    text-align: center;
    .pie{
        display: $flex;
    }
    a{
        color: white;
        font-size: 10px;
        padding: 7px 13px;
        border-radius: 3px;
    }
}    

@media (max-width: 320px){
    footer{
        width: $width;
        font-size: 7px;
    }
}

@media (max-width:600px){
    footer{
        width: $width;
        div{
            display: $flex;
            p{
                font-size: 10px;
            }
        }
    }
}

@media (max-width:768px){
    footer div{
        display: $flex;
        p{
            font-size: 0.8rem;
        }
    }
}