/*comienzo pie de pagina*/

footer{
    background-color: black;
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    .pie{
        display: flex;
    }
}    

@media (max-width: 320){
    footer{
        width: 100%;
        font-size: 7px;
    }
}

@media (max-width:600px){
    footer{
        width: 100%;
        div{
            display: flex;
            p{
                font-size: 10px;
            }
        }
    }
}

@media (max-width:768px){
    footer div{
        display: flex;
        p{
            font-size: 0.8rem;
        }
    }
}