/*comienzo pie de pagina*/

footer{
    @include centrado (1rem, 0px);
    background-color: $fondo;
    ul{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 20px;
        li{
            display: inline-block;
            line-height: 80px;
            margin: 15px 5px;
            a{
                color: white;
                font-size: 1.1rem;
                padding: 7px 13px;
                border-radius: 3px;
            }
        }      
    }
    p{
        @include centrado (1rem, 0px);
    }
}