header{
    nav{
        background-color: $fondo;
        height: 80px;
        width: $width;
        .enlace{
            position: absolute;
            padding: 20px 50px;
        }
        .logo{
            height: 50px;
        }
        ul{
            float: right;
            margin-right: 20px;
            li{
                display: inline-block;
                line-height: 80px;
                margin: 15px 5px;
                a{
                    color: white;
                    font-size: 1.2rem;
                    padding: 7px 13px;
                    border-radius: 3px;
                }
                a.active, a:hover{
                    background-color: gray;
                    transition: .5s;
                }
            }
        }
        .checkbtn{
            font-size: 30px;
            color: white;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }
        #check{
            display: none;
        }
    }
}


@media (max-width: 786px){
    nav{
        ul{
            li{
                a{
                    font-size: 10px;
                }
            }
        }
        .enlace{
            padding-left: 20px;
        }
    }
}

@media (max-width: 600px){
    nav{
        position: fixed;
        label{
            .checkbtn{
                display: block;
            }
            i{
                font-size: 20px;
                padding-top: 40px;
            }
        }
        ul{
            display: block;
            width: $width;
            height: 100vh;
            background-color: rgb(0, 0, 0);
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
            position: absolute;
            li{
                display: block;
                margin: 50px 0;
                line-height: 5px;
                a:hover{
                    font-size: 15px;
                    background: none;
                    color: rgb(230, 11, 11);
                    .active{
                        background: none;
                        color: rgb(230, 11, 11);
                    }
                }

            }
        }
        input{
            #check:checked ~ ul{
                left:0;
            }
        }
    }
    
}