header{
    nav{
        z-index: 1;
        background-color: $fondo;
        height: 90px;
        width: $width;
        .enlace{
            position: absolute;
            padding: 20px 50px;
        }
        .logo{
            height: 50px;
        }
        ul{
            float: right;
            top: 0px;
            left: 800px;
            display: flex;
            li{
                display: inline-block;
                line-height: 20px;
                margin: 25px 5px;
                a{
                    color: white;
                    font-size: 1.1rem;
                    border-radius: 3px;
                    position: relative;
                    display: block;
                    padding: 10px 10px;
                    text-decoration: none;
                    transition: .5s;
                    
                }
                a.active, a:hover{
                    background-color: gray;
                    transition: .5s;
                }   
            }
        }
        .checkbtn{
            font-size: 30px;
            color: white;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }
        #check{
            display: none;
        }
    }
}