/*cuerpo pag de quienes somos*/
.textos-quienes h2{
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    font-size: 30px;
}

.textos-quienes p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 200px 10px 200px;
    font-size: 25px;
    line-height: 40px;
}      
