/*cuerpo de pag de contactos*/


.texto-contactos{
    padding: 50px;
}


.texto-contactos h2{
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}

@media (max-width:768px){
    .texto-contactos h2{
        font-size: 30px;
    }

}