/*cuerpo pag de envios*/



.contenedor-envios{
    background-image: url(../assets/img/envios.jpg);
    background-size: cover;
    background-position: center center;
    padding: 200px 100px;
    width: $width;
    height: 100%;
    .fondo{
        background-color: rgba(0, 0, 0, 0.342);
        padding: 80px;
        .titulo-envios{
            text-align: center;
        }
        p{
            text-align: center;
            font-size: 1.5rem;
        }
    }
    
}


/*fin cuerpo del sitio*/