/*cuerpo pag de quienes somos*/
main{
    section{
        div.textos-quienes{
            h3{
            @include centrado(30px, 30px);  
            }
            p{
            @include centrado(25px, 10px 70px 70px 70px);
            }
        }
    }
}