/*comienzo cuerpo del texto del sitio*/

main{
    background-color: $fondo;
    width: $width;
    height: 100%;
    .contenedor-index{
        background: url(../assets/img/imagenes.jpg) no-repeat;
        background-size: cover;
        height: calc(100vh - 80px);
        display: grid;
        width: $width;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px 100px ;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        ;         
        h2{
            grid-area: item1;
            font-size: 2.8rem;
            line-height: 2rem;
            display: $flex;
            padding: 150px 50px 10px 50px; 
            align-self: center;
            justify-self: left;
            text-decoration: none;
        }
        h3{
            font-size: 2rem;
            grid-area: item2;
            display: $flex;
            justify-self: left;
            align-self: center;
            padding: 0px 50px;
        }
        p{
            grid-area: item3;
            font-size: 1.2rem;
            display: $flex;
            justify-self: left;
            align-self: center;
            padding: 0px 50px;
        }
    }
    section.carrusel-index{
        background-size: cover;
        margin: 5px 0px;
        
    }
    section.segunda-foto{
        background: url(../assets/img/comida.jpg);
        background-size: cover;
        background-position: center center;
        height: calc(100vh - 80px);
        p{
            @include centrado(25px, 170px);
        }
    }
}