/*cuerpo de pag de contactos*/
main{
    section{
        .texto-contactos{
            padding: 50px;
            h2{
                text-align: center;
                padding-top: 30px;
                font-size: 40px;
            }
        }
    }
}
