main{
    width: 100%;
    div.pag-productos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: url(../assets/img/productos1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
        h2{
            padding-left: 200px;
            font-size: 2.5rem;
            font-weight: 2rem;
            text-shadow:  2px 2px 5px #58544d;
            text-decoration: none
        }
        a{
            @include productos;
        }
        p{
            justify-self: center;
            align-items: center;
            font-size: 1.8rem;
            font-weight: 2rem;
            text-shadow:  2px 2px 5px #58544d;
        }
    }
    div.semillas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: url(../assets/img/semillas2.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
        }
        h2{
            color: white;
            font-size: 2.5rem;
            font-weight: 2rem;
            text-shadow:  2px 2px 5px #58544d;
            text-decoration: underline;
        }
        a{
            @include productos;
        }
        a.active, a:hover{
            background-color: rgba(128, 128, 128, 0.548);
            transition: .5s;
        }   
    div.frutos-secos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: url(../assets/img/frutos-secos.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
        h2{
            color: white;
            font-size: 2.5rem;
            font-weight: 2rem;
            text-shadow:  2px 2px 5px #58544d;
            text-decoration: underline;
        }
        a{
            @include productos;
        }
        a.active, a:hover{
            background-color: rgba(128, 128, 128, 0.548);
            transition: .5s;
        } 
    }
    div.condimentos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: url(../assets/img/condimentos.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
        h2{
            color: white;
            font-size: 2.5rem;
            font-weight: 2rem;
            text-shadow:  2px 2px 5px #58544d;
            text-decoration: underline;
        }
        a{
            @include productos;
        }
        a.active, a:hover{
            background-color: rgba(128, 128, 128, 0.548);
            transition: .5s;
        } 
    }
    div.suplementos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: url(../assets/img/suplementos.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
        h2{
            color: white;
            font-size: 2.5rem;
            font-weight: 2rem;
            text-shadow:  2px 2px 5px #58544d;
            text-decoration: underline;
        }
        a{
            @include productos;
        }
        a.active, a:hover{
            background-color: rgba(128, 128, 128, 0.548);
            transition: .5s;
        } 
    }
    div.especias{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: url(../assets/img/especiass.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
        h2{
            color: white;
            font-size: 2.5rem;
            font-weight: 2rem;
            text-shadow:  2px 2px 5px #58544d;
            text-decoration: underline;
        }
        a{
            @include productos;
        }
        a.active, a:hover{
            background-color: rgba(128, 128, 128, 0.548);
            transition: .5s;
        } 
    }
    div.cereales{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: url(../assets/img/cereales.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
        h2{
            color: white;
            font-size: 2.5rem;
            font-weight: 2rem;
            text-shadow:  2px 2px 5px #58544d;
            text-decoration: underline;
        }
        a{
            @include productos;
        }
        a.active, a:hover{
            background-color: rgba(128, 128, 128, 0.548);
            transition: .5s;
        } 
    }
}