/*cuerpo pag de envios*/



.contenedor-envios{
    background-image: url(../assets/img/envios.jpg);
    background-size: cover;
    background-position: center center;
    padding: 200px 100px;
    width: 100%;
    height: 100%;
    .fondo{
        background-color: rgba(0, 0, 0, 0.342);
        padding: 80px;
        .texto-envios{
            text-align: center;
            p{
                text-align: center;
                font-size: 1.5rem;
            }
        }
    }
    
}

@media (max-width:1024px){
    main{
        width: 100%;
        height: 100%;
        .contenedor-envios{
            div{
                .texto-envios{
                    font-size: 20px;
                }
            }
        }
    }
}
@media(max-width:768px){
    .contenedor-envios{
        background-position: center center;  
        div{
            .texto-envios{
                h2{
                    text-align: center;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}

@media(max-width:495px){
    .contenedor-envios{
        padding: 130px 50px;
        div{
            .texto-envios{
                p{
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width:320px){
    main{
        width: 100%;
        div{
            .texto-envios{
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 9px;
                    padding: none;
                }
            }
        }
    }
}


/*fin cuerpo del sitio*/